[submodule "minibufexpl.vim"]
	path = pack/plugins/opt/minibufexpl.vim
	url = https://github.com/vim-scripts/minibufexpl.vim.git
[submodule "bufexplorer"]
	path = pack/plugins/start/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule "nerdcommenter"]
	path = pack/plugins/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "DoxygenToolkit"]
	path = pack/plugins/start/DoxygenToolkit.vim
	url = https://github.com/vim-scripts/DoxygenToolkit.vim.git
[submodule "utl"]
	path = pack/plugins/start/utl.vim
	url = https://github.com/vim-scripts/utl.vim.git
[submodule "ultisnips"]
	path = pack/plugins/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "ctrlp"]
	path = pack/plugins/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "syntastic"]
	path = pack/syntax/opt/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "gundo"]
	path = pack/plugins/start/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim-eunuch"]
	path = pack/plugins/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "cscope_macros"]
	path = pack/plugins/start/cscope_macros.vim
	url = https://github.com/vim-scripts/cscope_macros.vim.git
[submodule "foldutil"]
	path = pack/plugins/start/foldutil.vim
	url = https://github.com/vim-scripts/foldutil.vim.git
[submodule "YankRing"]
	path = pack/plugins/start/YankRing.vim
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "vim-fugitive"]
	path = pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim-yankmarks"]
	path = pack/plugins/start/vim-yankmarks
	url = https://github.com/mikeage/vim-yankmarks.git
[submodule "vim-surround"]
	path = pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "linediff"]
	path = pack/plugins/start/linediff.vim
	url = https://github.com/AndrewRadev/linediff.vim.git
[submodule "vim-bbye"]
	path = pack/plugins/start/vim-bbye
	url = https://github.com/moll/vim-bbye.git
[submodule "vim-gitgutter"]
	path = pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim-signature"]
	path = pack/plugins/start/vim-signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule "autoload_cscope"]
	path = pack/plugins/start/autoload_cscope.vim
	url = https://github.com/vim-scripts/autoload_cscope.vim.git
[submodule "cscope-menu"]
	path = pack/plugins/start/cscope-menu
	url = https://github.com/vim-scripts/cscope-menu.git
[submodule "SearchComplete"]
	path = pack/plugins/start/SearchComplete
	url = https://github.com/vim-scripts/SearchComplete.git
[submodule "instant-markdown"]
	path = pack/plugins/start/instant-markdown.vim
	url = https://github.com/vim-scripts/instant-markdown.vim.git
[submodule "lastbuf"]
	path = pack/plugins/start/lastbuf.vim
	url = https://github.com/gu-fan/lastbuf.vim.git
[submodule "Align"]
	path = pack/plugins/start/Align
	url = https://github.com/tapichu/Align.git
[submodule "vim-trailing-whitespace"]
	path = pack/syntax/start/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace.git
[submodule "genutils"]
	path = pack/plugins/start/genutils
	url = https://github.com/vim-scripts/genutils.git
[submodule "vim-airline"]
	path = pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "ale"]
	path = pack/syntax/opt/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "asyncomplete"]
	path = pack/syntax/opt/asyncomplete
	url = https://github.com/prabirshrestha/asyncomplete.vim.git
[submodule "vim-airline-themes"]
	path = pack/plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
